<!DOCTYPE html>
<html>
<head>
    <title>{{ resume.name }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    {{ less('default/less/style.less') }}


</head>
<body class="container">
    <header class="row">
        <div class="col-xs-4 contact">
            <ul class="list-unstyled">
                {% for key, contact in resume.contact %}
                    <li class="{{ key }}">{{ contact }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-4">
            <h1 class="name">aaa{{ resume.name }}</h1>
            <span class="location">{{ resume.location }}</span>
        </div>
        <div class="col-xs-4 link">
            <ul class="list-unstyled">
                {% for key, link in resume.link %}
                    <li class="{{ key }}">{{ link }}</li>
                {% endfor %}
            </ul>
        </div>
    </header>
    <section class="about">
        <h1>{{ resume.about.title }}</h1>
        <p>{{ resume.about.description | nl2br }}</p>
    </section>
    <section class="skills">
        <h1>{{ resume.skills.title }}</h1>
        <div class="row skills-container">
            {% for skill in resume.skills.items %}
                <div class="col-xs-{% if (skill.items | length) > 3 %}9{% else %}{{ (skill.items | length) * 3 }}{% endif %}">
                    <h2>{{ skill.title }}</h2>
                    <div class="row">
                        {% for columns in skill.items %}
                            <div class="col-xs-{% if skill.items | length > 1 %}{{ 12 / (skill.items | length) }}{% else %}12{% endif %}">
                                <ul>
                                    {% for item in columns %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="experience">
        <h1>{{ resume.experience.title }}</h1>
        <div>
            {% for experience in resume.experience.items %}
                <div class="row">
                    <div class="col-xs-3 entity">
                        <span>{{ experience.company }}</span>
                    </div>
                    <div class="col-xs-6 title">
                        <h2>{{ experience.position }}</h2>
                    </div>
                    <div class="col-xs-3 timePeriod">
                        <ul class="list-unstyled">
                            {% if experience.timePeriod.end is null %}
                                <li>{{ i18n['timePeriod.currently'] }}</li>
                            {% else %}
                                <li>{{ experience.timePeriod.start|date('Y') }}</li>
                                <li class="separator">-</li>
                                <li>{{ experience.timePeriod.end|date('Y') }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <p>{{ experience.description | nl2br }}</p>
            {% endfor %}
        </div>
    </section>
    <section class="education">
        <h1>{{ resume.education.title }}</h1>
        <div>
            {% for education in resume.education.items %}
                <div class="row">
                    <div class="col-xs-3 entity">
                        <span>{{ education.school }}</span>
                    </div>
                    <div class="col-xs-6 title">
                        <h2>{{ education.degree }}</h2>
                    </div>
                    <div class="col-xs-3 timePeriod">
                        <ul class="list-unstyled">
                            {% if education.timePeriod.end is null %}
                                <li>{{ i18n['timePeriod.currently'] }}</li>
                            {% else %}
                                <li>{{ education.timePeriod.start|date('Y') }}</li>
                                <li class="separator">-</li>
                                <li>{{ education.timePeriod.end|date('Y') }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <p>{{ education.description | nl2br }}</p>
            {% endfor %}
        </div>
    </section>
    <section class="course">
        <h1>{{ resume.course.title }}</h1>
        <div>
            {% for course in resume.course.items %}
                <div class="row">
                    <div class="col-xs-3 entity">
                        <span>{{ course.hours }} {% if course.hours > 1 %}{{ i18n['course.hours'] }}{% else %}{{ i18n['course.hour'] }}{% endif %}</span>
                    </div>
                    <div class="col-xs-6 title">
                        <h2>{{ course.name }}</h2>
                    </div>
                    <div class="col-xs-3 timePeriod">
                        <ul class="list-unstyled">
                            {% if course.timePeriod.end is null %}
                                <li>{{ i18n['timePeriod.currently'] }}</li>
                            {% else %}
                                <li>{{ course.timePeriod.start|date('Y') }}</li>
                                <li class="separator">-</li>
                                <li>{{ course.timePeriod.end|date('Y') }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <p>{{ course.description | nl2br }}</p>
            {% endfor %}
        </div>
    </section>
</body>
</html>