<!DOCTYPE html>
<html>
<head>
    <title>{{ resume.name }}</title>

    <!-- BEGIN Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- END Metadata -->

    <!-- BEGIN Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <!-- END Fonts -->

    <!-- BEGIN StyleSheets (dependencies) -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- END StyleSheets -->

    <!-- BEGIN StyleSheet -->
    {{ less('style.less')|raw }}
    <!-- END StyleSheet -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.slim.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var selector = [
                '.experience ul.description li',
                '.education ul.description li',
                '.course ul.description li',
            ].join();

            $(selector).each(function (index, elem) {
                var currentText = $(elem).text();
                var endLineChar = $(elem).is(':last-child') ? '.' : ';';

                $(elem).text(currentText + endLineChar);
            });
        });
    </script>
</head>
<body class="container">
    <header class="row">
        <div class="col-xs-4 contact">
            <ul class="list-unstyled">
                <li class="phone">{{ resume.contact.phone[language] }}</li>
                <li class="email">{{ resume.contact.email }}</li>
            </ul>
        </div>
        <div class="col-xs-4">
            <h1 class="name">{{ resume.name }}</h1>
            <span class="location">{{ resume.location[language] }}</span>
        </div>
        <div class="col-xs-4 link">
            <ul class="list-unstyled">
                {% for key, link in resume.link %}
                    <li class="{{ key }}">{{ link }}</li>
                {% endfor %}
            </ul>
        </div>
    </header>
    {% if resume.about %}
        <section class="about">
            <h1>{{ resume.about.title[language] }}</h1>
            <div class="bar"></div>
            <p>{{ resume.about.description[language] | nl2br }}</p>
        </section>
    {% endif %}
    <section class="skills">
        <h1>{{ resume.skills.title[language] }}</h1>
        <div class="bar"></div>
        <div class="row skills-container">
            {% for skill in resume.skills.items %}
                <div class="col-xs-12">
                    <h2>{{ skill.title[language] }}</h2>
                    <div class="row">
                        {% for columns in skill.items %}
                            <div class="col-xs-2">
                                <ul>
                                    {% for item in columns %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="experience">
        <h1>{{ resume.experience.title[language] }}</h1>
        <div class="bar"></div>
        <div>
            {% for experience in resume.experience.items %}
                {% if not loop.first %}
                    <div class="bar"></div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-3 entity">
                        <span>{{ experience.company }}</span>
                    </div>
                    <div class="col-xs-6 title">
                        <h2>{{ experience.position[language] }}</h2>
                    </div>
                    <div class="col-xs-3 timePeriod">
                        <ul class="list-unstyled">
                            {% if experience.timePeriod.end is null %}
                                <li>{{ i18n['timePeriod.currently'] }}</li>
                            {% else %}
                                <li>{{ experience.timePeriod.start|date('Y') }}</li>
                                <li class="separator">-</li>
                                <li>{{ experience.timePeriod.end|date('Y') }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <ul class="description">
                    {% for description in experience.description[language] %}
                        <li>{{ description }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </section>
    <section class="education">
        <h1>{{ resume.education.title[language] }}</h1>
        <div class="bar"></div>
        <div>
            {% for education in resume.education.items %}
                {% if not loop.first %}
                    <div class="bar"></div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-3 entity">
                        <span>{{ education.school }}</span>
                    </div>
                    <div class="col-xs-6 title">
                        <h2>{{ education.degree[language] }}</h2>
                    </div>
                    <div class="col-xs-3 timePeriod">
                        <ul class="list-unstyled">
                            {% if education.timePeriod.end is null %}
                                <li>{{ i18n['timePeriod.currently'] }}</li>
                            {% else %}
                                <li>{{ education.timePeriod.start|date('Y') }}</li>
                                <li class="separator">-</li>
                                <li>{{ education.timePeriod.end|date('Y') }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <ul class="description">
                    {% for description in education.description[language] %}
                        <li>{{ description }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </section>
    <section class="course">
        <h1>{{ resume.course.title[language] }}</h1>
        <div class="bar"></div>
        <div>
            {% for course in resume.course.items %}
                {% if not loop.first %}
                    <div class="bar"></div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-3 entity">
                        <span>{{ course.info }}</span>
                    </div>
                    <div class="col-xs-6 title">
                        <h2>{{ course.name[language] }}</h2>
                    </div>
                    <div class="col-xs-3 timePeriod">
                        <ul class="list-unstyled">
                            {% if course.timePeriod.end is null %}
                                <li>{{ i18n['timePeriod.currently'] }}</li>
                            {% else %}
                                <li>{{ course.timePeriod.start|date('Y') }}</li>
                                <li class="separator">-</li>
                                <li>{{ course.timePeriod.end|date('Y') }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <ul class="description">
                    {% for description in course.description[language] %}
                        <li>{{ description }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </section>
</body>
</html>
