<!DOCTYPE html>
<html>
<head>
    <title>{{ resume.name }}</title>

    <!-- BEGIN Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- END Metadata -->

    <!-- BEGIN Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <!-- END Fonts -->

    <!-- BEGIN StyleSheets (dependencies) -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- END StyleSheets -->

    <!-- BEGIN StyleSheet -->
    {{ less('style.less') }}
    <!-- END StyleSheet -->
</head>
<body class="container">
    <header class="row">
        <div class="col-xs-4 contact">
            <ul class="list-unstyled">
                {% for key, contact in resume.contact %}
                    <li class="{{ key }}">{{ contact }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-xs-4">
            <h1 class="name">{{ resume.name }}</h1>
            <span class="location">{{ resume.location }}</span>
        </div>
        <div class="col-xs-4 link">
            <ul class="list-unstyled">
                {% for key, link in resume.link %}
                    <li class="{{ key }}">{{ link }}</li>
                {% endfor %}
            </ul>
        </div>
    </header>
    {% if resume.about %}
        <section class="about">
            <h1>{{ resume.about.title }}</h1>
            <p>{{ resume.about.description | nl2br }}</p>
        </section>
    {% endif %}
    <section class="experience">
        <h1>{{ resume.experience.title }}</h1>
        <div class="bar"></div>
        <div>
            {% for experience in resume.experience.items %}
                {% if not loop.first %}
                    <div class="bar"></div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-3 entity">
                        <span>{{ experience.company }}</span>
                    </div>
                    <div class="col-xs-6 title">
                        <h2>{{ experience.position }}</h2>
                    </div>
                    <div class="col-xs-3 timePeriod">
                        <ul class="list-unstyled">
                            {% if experience.timePeriod.end is null %}
                                <li>{{ i18n['timePeriod.currently'] }}</li>
                            {% else %}
                                <li>{{ experience.timePeriod.start|date('Y') }}</li>
                                <li class="separator">-</li>
                                <li>{{ experience.timePeriod.end|date('Y') }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <ul>
                    {% for description in experience.description %}
                        <li>{{ description }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </section>
    <section class="education">
        <h1>{{ resume.education.title }}</h1>
        <div class="bar"></div>
        <div>
            {% for education in resume.education.items %}
                {% if not loop.first %}
                    <div class="bar"></div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-3 entity">
                        <span>{{ education.school }}</span>
                    </div>
                    <div class="col-xs-6 title">
                        <h2>{{ education.degree }}</h2>
                    </div>
                    <div class="col-xs-3 timePeriod">
                        <ul class="list-unstyled">
                            {% if education.timePeriod.end is null %}
                                <li>{{ i18n['timePeriod.currently'] }}</li>
                            {% else %}
                                <li>{{ education.timePeriod.start|date('Y') }}</li>
                                <li class="separator">-</li>
                                <li>{{ education.timePeriod.end|date('Y') }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <ul>
                    {% for description in education.description %}
                        <li>{{ description }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </section>
    <section class="skills">
        <h1>{{ resume.skills.title }}</h1>
        <div class="bar"></div>
        <div class="row skills-container">
            {% for skill in resume.skills.items %}
                <div class="col-xs-{% if (skill.items | length) > 3 %}9{% else %}{{ (skill.items | length) * 3 }}{% endif %}">
                    <h2>{{ skill.title }}</h2>
                    <div class="row">
                        {% for columns in skill.items %}
                            <div class="col-xs-{% if skill.items | length > 1 %}{{ 12 / (skill.items | length) }}{% else %}12{% endif %}">
                                <ul>
                                    {% for item in columns %}
                                        <li>{{ item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="course">
        <h1>{{ resume.course.title }}</h1>
        <div class="bar"></div>
        <div>
            {% for course in resume.course.items %}
                {% if not loop.first %}
                    <div class="bar"></div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-3 entity">
                        {{ course.info }}
                    </div>
                    <div class="col-xs-6 title">
                        <h2>{{ course.name }}</h2>
                    </div>
                    <div class="col-xs-3 timePeriod">
                        <ul class="list-unstyled">
                            {% if course.timePeriod.end is null %}
                                <li>{{ i18n['timePeriod.currently'] }}</li>
                            {% else %}
                                <li>{{ course.timePeriod.start|date('Y') }}</li>
                                <li class="separator">-</li>
                                <li>{{ course.timePeriod.end|date('Y') }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <ul>
                    {% for description in education.description %}
                        <li>{{ description }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </section>
</body>
</html>
