<!DOCTYPE html>
<html lang="{{meta.lang}}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{basics.name}} - {{basics.label}}</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

	<style>
		{{style}}
	</style>
</head>

<body>
	<div class="mb-2 background background--first-page-top"></div>

	<div class="container p-0">

		<div class="row p-0 m-0">
			<div class="col-3 p-0 m-0 ps-5">
				<div class="row p-0 m-0">
					<section class="col p-0 m-0 d-flex gap-1 align-items-center flex-column">
						<img src="{{basics.picture}}" height="150px" class="m-0 p-0 d-block rounded-circle shadow-4-strong" alt="{{basics.name}}">
					</section>
				</div>
			</div>
			<div class="col-9 p-0 m-0 pe-5">
				<div class="row p-0 m-0">
					<section class="col p-0 m-0 ps-3 ms-4 d-flex gap-1 justify-items-center flex-column">
						<div class="mb-3">
							<span class="font-family--monospace text-color--lighter-gray fs-6 fw-light fst-normal">&lt;</span><span class="font-family--monospace text-color--gray fs-6 fw-light fst-normal">{{basics.label}}</span><span class="font-family--monospace text-color--blue fs-6 fw-light fst-normal">/</span><span class="font-family--monospace text-color--lighter-gray fs-6 fw-light fst-normal">&gt;</span>
						</div>
						<p class="m-0 p-0 pe-3 d-block text-color--gray fw-light fst-normal">Hi, my name is <strong class="fw-bold fst-normal text-color--highlight">{{basics.name}}</strong> (BSc in Information Systems). {{basics.summary}} <span class="text-color--highlight">♥</span></p>
					</section>
				</div>
			</div>
			<div class="col-12 p-0 m-0">
				<div class="row p-0 m-0">
					<div class="m-0 p-0 mt-3 d-flex justify-content-center flex-row flex-wrap gap-2">
						{{#each basics.profiles}}
							<a href="{{this.url}}" class="fw-light fst-normal font-family--monospace text-color--gray">
								/{{this.username}}
							</a>
						{{/each}}
						<a href="mailto:{{basics.email}}" class="fw-light fst-normal font-family--monospace text-color--gray">
							{{basics.email}}
						</a>
						<a href="tel:{{compilePhoneNumber basics.phone}}" class="fw-light fst-normal font-family--monospace text-color--gray">
							{{basics.phone}}
						</a>
					</div>
				</div>
			</div>

			<div class="col-12 p-0 m-0 mt-3 mb-2">
				<div class="row p-0 m-0">
					<section class="col-12 p-0 m-0 mt-4">
						<h2 class="d-block text-capitalize font-family--monospace text-center text-color--highlight fs-5 fw-bold fst-normal">work experience</h2>
						<div class="work--items">
							{{#each work}}
								<div class="work--item row p-0 m-0 ms-4 me-5 mt-3 align-items-center d-flex">
									<div class="col-12 p-0 m-0">
										<p class="font-family--monospace text-color--dark fs-6 fw-light fst-normal">{{this.position}} at {{this.company}} ({{compileWorkPeriod this.startDate this.endDate}})</p>
									</div>
									<div class="col-12 p-0 m-0 mt-1">
										<ul class="m-0 p-0 ms-5 ps-2">
											{{#each this.highlights}}
												<li class="my-2 d-inline-block fw-light fst-normal">{{.}}{{#if @last}}.{{else}};{{/if}}</li>
											{{/each}}
										</ul>
									</div>
								</div>
							{{/each}}
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
